<div class="loader-wrapper">
  <ul class="ulX">
    <li class="liX"></li>
    <li class="liX"></li>
    <li class="liX"></li>
    <li class="liX"></li>
    <li class="liX"></li>
    <li class="liX"></li>
    <li class="liX"></li>
  </ul>
</div>
