

<!-- ////////////////////////////////////////////////// -->
<div class="owl-carousel owl-theme" data-aos="fade-up">
  <!--CARD ASOCIADO 1-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-truck"></i> Transporte</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Embarcaciones Asturias</a>
        </strong>
      </h4>
      <!-- Description -->
      <!--
                        <p class="card-text">
                              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                              consectetur, adipisci.
                        </p>-->
      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a class="" data-toggle="tooltip" data-placement="top" title="">
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 1-->

  <!--CARD ASOCIADO 2-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(22).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-truck"></i> Transporte</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Bahia Mar</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 2-->

  <!--CARD ASOCIADO 3-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(31).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-concierge-bell"></i> Hotelero</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Pacifico Hostel</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 3-->

  <!--CARD ASOCIADO 4-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(30).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-concierge-bell"></i> Hotelero</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Hotel Estacion</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 4-->

  <!--CARD ASOCIADO 5-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(37).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-concierge-bell"></i> Hotelero</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Hotel Cordillera</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 5-->

  <!--CARD ASOCIADO 6-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-concierge-bell"></i> Hotelero</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Reserva Aguamarina</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 6-->

  <!--CARD ASOCIADO 7-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(22).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-concierge-bell"></i> Hotelero</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Hotel Cosmos Pacifico</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 7-->

  <!--CARD ASOCIADO 8-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(31).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-concierge-bell"></i> Hotelero</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Maguipi</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 8-->

  <!--CARD ASOCIADO 9-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(30).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-plane-departure"></i> Viajes & Servicios</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Operador Yemaya</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 9-->

  <!--CARD ASOCIADO 10-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-plane-departure"></i> Viajes & Servicios</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">AVS Travel</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 10-->

  <!--CARD ASOCIADO 11-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-plane-departure"></i> Viajes & Servicios</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Comfenalco Valle</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 11-->

  <!--CARD ASOCIADO 12-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-plane-departure"></i> Viajes & Servicios</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Rumbo Viajes</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 12-->

  <!--CARD ASOCIADO 13-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-plane-departure"></i> Viajes & Servicios</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">OP Turismo</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 13-->

  <!--CARD ASOCIADO 14-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-hard-hat"></i> Infraestructura</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Constructora CRP</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 14-->

  <!--CARD ASOCIADO 15-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-hard-hat"></i> Infraestructura</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Muelle Turistico</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 15-->

  <!--CARD ASOCIADO 16-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="far fa-comments"></i> Consejos Comunitarios</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">La Plata - Ecomanglar</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 16-->

  <!--CARD ASOCIADO 17-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-utensils"></i> Gastronomia</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Cafe Pacifico</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 17-->

  <!--CARD ASOCIADO 18-->
  <div class="card card-cascade narrower card-ecommerce">
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg"
        class="card-img-top"
        alt="sample photo"
      />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
      <!-- Category & Title -->
      <a href="" class="text-muted">
        <h5><i class="fas fa-utensils"></i> Gastronomia</h5>
      </a>
      <h4 class="card-title my-4">
        <strong>
          <a href="">Leños y Mariscos</a>
        </strong>
      </h4>
      <!-- Description -->

      <!-- Card footer -->
      <div class="card-footer px-1">
        <!--<span class="float-left">69$</span>-->
        <span class="float-center social-icons-color">
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Quick Look"
          >
            <i class="fab fa-facebook ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-twitter ml-3"></i>
          </a>
          <a
            class=""
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="Add to Wishlist"
          >
            <i class="fab fa-instagram ml-3"></i>
          </a>
        </span>
      </div>
    </div>
    <!-- Card content -->
  </div>
  <!--CARD ASOCIADO 18-->
</div>
<!-- ////////////////////////////////////////////////// -->
