<div class="container" data-aos="fade-up">
  <div class="row">
    <!-- Card -->
    <div class="col-md-4 text-center">
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
            alt="Card image cap"
          />
        </div>

        <!-- Card content -->
        <div class="card-body">
          <i class="fas fa-3x fa-mug-hot green-text"></i>
          <!-- Title -->
          <h4 class="card-title">CoffeCups</h4>
          <!-- Text -->
          <span class="counter">12345</span>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-4 text-center">
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
            alt="Card image cap"
          />
        </div>

        <!-- Card content -->
        <div class="card-body">
          <i class="far fa-3x fa-smile-wink green-text"></i>
          <!-- Title -->
          <h4 class="card-title">Visitantes Felices</h4>
          <!-- Text -->
          <span class="counter">54321</span>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md-4 text-center">
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img
            class="card-img-top"
            src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
            alt="Card image cap"
          />
        </div>

        <!-- Card content -->
        <div class="card-body">
          <i class="fas fa-3x fa-handshake green-text"></i>
          <!-- Title -->
          <h4 class="card-title">Asociados</h4>
          <!-- Text -->
          <span class="counter">22</span>
        </div>
      </div>
    </div>
  </div>
</div>
