<section class="gallery-block compact-gallery wow fadeInUp animated fadeIn delay-4s" data-aos="fade-up">

  <div class="row">
    <div class="col-md-8 col-sm-12 co-xs-12 item zoom-on-hover box">
      <a class="" href="#">
        <img class="img-fluid image" src="img/sabaletas.jpg" />
        <span class="description">
          <span class="description-heading">Sabaletas</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 item zoom-on-hover box">
      <a class="" href="#">
        <img class="img-fluid image" src="img/malaga.jpg" />
        <span class="description">
          <span class="description-heading">Bahia Malaga</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg3.jpg" />
        <span class="description">
          <span class="description-heading">Juanchaco</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg1.jpg" />
        <span class="description">
          <span class="description-heading">San Cipriano</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg5.jpg" />
        <span class="description">
          <span class="description-heading">La Bocana</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg6.jpg" />
        <span class="description">
          <span class="description-heading">Hotel Estacion</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>

    <div class="col-md-8 col-sm-12 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg1.jpg" />
        <span class="description">
          <span class="description-heading">Gorgona</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg2.jpg" />
        <span class="description">
          <span class="description-heading">Malpelo</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg3.jpg" />
        <span class="description">
          <span class="description-heading">La Plata</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg4.jpg" />
        <span class="description">
          <span class="description-heading">Cafe Pacifico</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-12 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg5.jpg" />
        <span class="description">
          <span class="description-heading">Aviturismo</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 item zoom-on-hover box">
      <a class="lightbox" href="#">
        <img class="img-fluid image" src="img/bg6.jpg" />
        <span class="description">
          <span class="description-heading">Esteros</span>
          <span class="description-body"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam
            urna.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span
          >
        </span>
      </a>
    </div>
  </div>
</section>
