<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="text-center trade-mark-img">
                    <a href="/principal">
                    <img src="/img/TurtleIconW.png" width="30" height="30" class="d-inline-block align-top" alt="BuenaventuraTuristica"/></a>
                    <p class="h6 trade-mark">BuenaventuraTuristica</p>
                    <p class="h6 trade-mark">Derechos Reservados</p>
                    <p class="h6 trade-mark">&copy; 2019.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Enlaces de Interes</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Blog</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Descargas</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Aliados</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Enlaces de Interes</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Agenda Cultural</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Planes Turisticos</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/corporacionturistica/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.googleplus.com" target="_blank"><i class="fab fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
            </hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <!--<p><u><a href="https://www.buenaventuraturistica.com/">Corporacion Turistica de Buenaventura</a></u> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque ipsum aspernatur optio odit. Labore nostrum, praesentium aut asperiores provident doloremque blanditiis eveniet vero amet at tempora incidunt iusto similique.</p>-->
                <p class="h6"><a class="text-green ml-2" href="http://www.puertocreativo.co" target="_blank">PuertoCreativo.</a> Sitio hecho con el &hearts;</p>
            </div>
        </div>	
    </div>
</section>
<!-- ./Footer -->