<!--Header-->
<div
  class="view"
  style="background-image: url('img/p2.jpg'); height: 100vh; background-repeat: no-repeat; background-size: cover; background-position: center center;"
>
  <div class="container p-5" style="margin-top: 8%;">
    <!--Grid row-->
    <div class="row pt-lg-5 mt-lg-5">
      <div
        class="container text-center white-text wow fadeInUp animated fadeIn delay-2s"
      >
        <h3>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
          officia!
        </h3>
        <br />
        <a id="destinos" onclick="scrollFunction(this)" class="btn btn1 btn-large">Descubre</a>
      </div>
    </div>
    <!--Grid row-->
  </div>
</div>
<!--Header-->