<nav
  class="navbar navbar-expand-lg navbar-light bg-light scrolling-navbar fixed-top animated fadeIn delay-1s"
>
  <div class="container navbar-fontsize">
    <a class="navbar-brand" href="/">
      <img
        src="/img/TurtleIcon.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="BuenaventuraTuristica"
      />
      BuenaventuraTuristica
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Destinos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Socios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Corporacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Sectores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Contactanos</a>
        </li>
      </ul>
    </div>
  </div>

  <ul class="navbar-nav ml-auto">
    <!--<li class="nav-item">
      <a class="nav-link" href="/"
        ><img
          src="/img/col.png"
          width="24"
          height="24"
          class="d-inline-block align-top"
          alt="BuenaventuraTuristica"
        />
        ES</a
      >
    </li>-->
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><img
          src="/img/usa.png"
          width="24"
          height="24"
          class="d-inline-block align-top"
          alt="BuenaventuraTuristica"
        />
        EN</a
      >
    </li>
  </ul>
</nav>
