<div
          class="container text-center"
          data-aos="fade-up"
          data-aos-delay="500"
          data-aos-easing="ease-in-out"
        >
          <h2 class="h1-responsive font-weight-bold text-center my-5">
            Corporación Turística y Cultural de Buenaventura
          </h2>
          <p class="grey-text text-center w-responsive mx-auto mb-5">
              <h4 class="h3-responsive font-weight-bold text-center my-5">
                Nuestros propositos...
              </h4>
          </p>
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Grid row -->
              <div class="row mb-3 text-center">
                <div class="col-12 text-center">
                  <h5 class="font-weight-bold mb-3">Relaciones</h5>
                  <i class="far fa-3x fa-handshake green-text text-center"></i>
                  <p class="grey-text">
                    Promover las relaciones público - privadas para construir
                    procesos eficientes dirigidos al desarrollo de la industria
                    turística y cultural de Buenaventura.
                  </p>
                </div>
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row mb-3 text-center">
                <div class="col-12 text-center">
                  <h5 class="font-weight-bold mb-3">Corporacion</h5>
                  <i class="fas fa-3x fa-users-cog green-text text-center"></i>
                  <p class="grey-text">
                    Facilitar el acercamiento entre los integrantes de la
                    corporación y procurar el desarrollo y fortalecimiento de
                    sus actividades económicas.
                  </p>
                </div>
              </div>
              <!-- Grid row -->
            </div>
            <!-- Grid column -->

            <!-- Grid column IMG LOGO -->
            <div
              class="col-md-4 text-center"
              style="padding-top: 90px; margin-bottom: 120px;"
            >
              <img
                class="img-fluid"
                src="img/TurtleIcon.png"
                alt="Sample image"
              />
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Grid row -->
              <div class="row mb-3 text-center">
                <div class="col-12 text-center">
                  <h5 class="font-weight-bold mb-3">Fortalecimiento</h5>
                  <i
                    class="fas fa-3x fa-fist-raised green-text text-center"
                  ></i>
                  <p class="grey-text">
                    Crear, administrar y fortalecer de manera continua la marca
                    ciudad como herramienta de divulgación coherente con la
                    imagen del distrito ante el país y el mundo.
                  </p>
                </div>
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row mb-3 text-center">
                <div class="col-12 text-center">
                  <h5 class="font-weight-bold mb-3">Participacion</h5>
                  <i class="fas fa-3x fa-bolt green-text text-center"></i>
                  <p class="grey-text">
                    Participar de manera competitiva con productos y servicios
                    culturales y turísticos para aportar al crecimiento
                    productivo y a la preservación de nuestro patrimonio
                    inmaterial y biodiverso, asi como el desarrollo social y
                    economico del distrito.
                  </p>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
            <!-- Grid column -->
          </div>
        </div>